.bug-color{
    background-color: rgb(169, 187, 35);
}

.dark-color{
    background-color: rgb(80, 58, 43);
}

.dragon-color{
    background-color: rgb(116, 93, 220);
}

.electric-color{
    background-color: rgb(250, 185, 20);
}

.fairy-color{
    background-color: rgb(243, 179, 243);
}

.fighting-color{
    background-color: rgb(121, 52, 28);
}

.fire-color{
    background-color: rgb(238, 64, 14);
}

.flying-color{
    background-color: rgb(140, 162, 239);
}

.ghost-color{
    background-color: rgb(99, 97, 175);
}

.grass-color{
    background-color: rgb(111, 192, 51);
}

.ground-color{
    background-color: rgb(209, 176, 85);
}

.ice-color{
    background-color: rgb(155, 229, 253);
}

.normal-color{
    background-color: rgb(197, 193, 183);
}

.poison-color{
    background-color: rgb(149, 72, 149);
}

.psychic-color{
    background-color: rgb(231, 76, 130);
}

.rock-color{
    background-color: rgb(185, 166, 94);
}

.steel-color{
    background-color: rgb(193, 191, 205);
}

.water-color{
    background-color: rgb(83, 162, 239);
}

