.content-section{
    padding: 10px !important;
    border-radius: 10px;
    outline-color: rgb(221, 221, 221) !important;
    outline-style: solid;
}

.progress-bar-instance{
    margin-bottom: 10px;
}

.content-group-tab{
    color: #BB271A !important;
    font-weight: bold;
}

.progress-bar-custom{
    height: 30px;
    border-radius: 20px;
    background-color: white;
}

.bg-custom-progress{
    background-color: #BB271A !important;
}

.basestats-container{
    padding: 20px;
    padding-bottom: 10px !important;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.wthn-tab-section-title{
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.carousel-desc-section{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.carousell-desc-item{
    padding: 20px !important;
    padding-bottom: 40px !important;
}

.desc-version{
    color: rgb(97, 97, 97);
    font-size: 14px;
    margin-bottom: 5px;
}

.hidden-type-value{
    font-weight: bold;
}

.weakness-section{
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.hidden-stats-section{
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.details-section-tab-container{
    margin-bottom: 20px;
}